<div class="p-4 max-w-7xl mx-auto">
  <!-- Header -->
  <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-6 gap-4">
    <div>
      <h1 class="text-2xl font-bold">Integrantes</h1>
      <p class="text-sm opacity-70">
        Lista de bailarines y músicos de la comparsa
      </p>
    </div>
    <div class="flex gap-2">
      <input type="text" placeholder="Buscar integrante" class="input input-bordered" [(ngModel)]="searchTerm" />
      <a href="/integrantes/nuevo" class="btn btn-primary">+ Nuevo integrante</a>
    </div>
  </div>
  <div class="overflow-x-auto bg-base-100 rounded-xl shadow">
    <div class="overflow-x-auto">
      <app-integrante-table [listIntegrantes]="pagedIntegrantes" (edit)="openEdit($event)" (delete)="onDelete($event)"></app-integrante-table>
    </div>
  </div>
  <div class="flex content-center items-center justify-center mt-6">
    <div class="join">
      @for (page of pagesArray; track page) {
        <input class="join-item btn btn-square" type="radio" name="options"
          [attr.aria-label]="page"
          [checked]="currentPage === page"
          (change)="currentPage = page" />
      }
    </div>
  </div>

  <dialog #editModal class="modal">
  <div class="modal-box max-w-3xl">
    <h3 class="font-bold text-lg mb-4">Editar integrante</h3>

    <app-integrante-form
      [integrante]="selectedIntegrante"
      (save)="onUpdate($event)"
      (cancel)="closeModal()">
    </app-integrante-form>
  </div>
</dialog>
</div>

