<div class="navbar shadow-sm rounded-b-2xl bg-primary">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <svg class="text-white" width="32" height="32" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="/">Inicio</a></li>
        <li><a href="/integrantes">Integrantes</a></li>
        <li><a href="/asistencia">Asistencia</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a href="/"><img src="/img/logoBlanco.svg" class="h-10" alt="Logo"></a>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full bg-white">
          <img src="/img/iconM.png" alt="">
        </div>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <a class="justify-between">
            Perfil
            <span class="badge">Nuevo</span>
          </a>
        </li>
        <li><a>Configuración</a></li>
        <li><a>Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</div>
